AWS_PROFILE=personal
NEXT_PUBLIC_SITE_URL=https://saltlight.dev
NEXT_PUBLIC_OWNER_EMAIL="taellsworth@gmail.com"
NEXT_PUBLIC_UMAMI_URL=https://umami.64.181.205.247.sslip.io
NEXT_PUBLIC_UMAMI_WEBSITE_ID=7960cd49-7365-46af-8627-52b9eb099fa2
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=development
CONTACT_TO_EMAIL=taellsworth@gmail.com
CONTACT_FROM_EMAIL=taellsworth@gmail.com
SES_REGION=us-west-2
